<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" href="/netview/static/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" href="/netview/static/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <link th:href="@{/image/favicon.ico}" rel="shortcut icon" type="image/ico"
          href="/netview/static/image/favicon.ico"/>
    <title th:text="${title}">global</title>
</head>
<body>
<div class="container">

    <div class="row" th:fragment="navigation">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/netview">netview</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/netview/page">监控</a></li>
                    <li><a th:href="@{/page}">人员管理</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li th:if="${session.loginPerson==null}"><a th:href="@{/signUp}"><span
                            class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li th:if="${session.loginPerson==null}"><a th:href="@{/}"><span
                            class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                    <li th:if="${session.loginPerson!=null}"><a
                            th:href="@{|/personnel/page/personForm/${session.loginPerson.id}|}"><span
                            class="glyphicon glyphicon-edit"></span> 修改资料</a></li>
                    <li th:if="${session.loginPerson!=null}"><a th:text="|你好 ${session.loginPerson.name}|"></a></li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="row" th:fragment="listPermissionTable">
        <table id="listPermissionTable" class="table table-hover">
            <thead>
            <tr>
                <th>权限编号</th>
                <th>权限简介</th>
                <th>修改简介</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody ref="listPermissionTable">
            <tr v-for="permission in permissions">
                <td>{{ permission.permission }}</td>
                <td>{{ permission.remark }}</td>
                <td><input type="text" class="form-control" placeholder="修改简介" :name="permission.permission"/></td>
                <td>
                    <button type="button" class="btn btn-info" v-on:click="changePermission(permission.permission)">修改
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" v-on:click="removePermission(permission.permission)">
                        删除
                    </button>
                </td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="99" class="form-control" v-model="permission"/></td>
                <td><input type="text" class="form-control" placeholder="权限简介" v-model="remark"/></td>
                <td>
                    <button type="button" class="btn btn-info" v-on:click="addPermission">添加权限</button>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row" th:fragment="listPersonTable">
        <table id="listPersonTable" class="table table-hover">
            <thead>
            <tr>
                <th>学号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>学院</th>
                <th>年级</th>
                <th>专业班级</th>
                <th>手机</th>
                <th>短号</th>
                <th>qq</th>
                <th>生日</th>
                <th>简介</th>
                <th>组别</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="person in persons">
                <td><a :href="rootUrl + '/page/personForm/' + person.id">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.sex }}</td>
                <td>{{ person.college }}</td>
                <td>{{ person.grade }}</td>
                <td>{{ person.professionClass }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.cornet }}</td>
                <td>{{ person.qq }}</td>
                <td>{{ person.birthday }}</td>
                <td>{{ person.introduction }}</td>
                <td>{{ person.team }}</td>
                <td>
                    <button type="button" class="btn btn-danger" v-on:click="removePerson(person.id)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row" th:fragment="personForm(name)">
        <div class="page-header">
            <h3 th:text="${name}">人员修改</h3>
        </div>
        <form class="form-horizontal" role="form" id="personForm" onsubmit="return false">
            <div class="form-group">
                <label class="col-sm-3 control-label">学号 *</label>
                <div class="col-sm-9">
                    <input name="id" type="text" class="form-control" placeholder="请输入学号" v-model="person.id"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">姓名 *</label>
                <div class="col-sm-9">
                    <input name="name" type="text" class="form-control" placeholder="请输入姓名" v-model="person.name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">性别 *</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="男" v-model="person.sex"/> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" value="女" v-model="person.sex"/> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">学院 *</label>
                <div class="col-sm-9">
                    <input name="college" type="text" class="form-control" placeholder="请输入学院"
                           v-model="person.college"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">年级 *</label>
                <div class="col-sm-9">
                    <input name="grade" type="number" min="15" max="99" class="form-control" v-model="person.grade"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">专业班级 *</label>
                <div class="col-sm-9">
                    <input name="professionClass" type="text" class="form-control" placeholder="请输入专业班级"
                           v-model="person.professionClass"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">手机 *</label>
                <div class="col-sm-9">
                    <input name="phone" type="number" class="form-control" v-model="person.phone"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">短号</label>
                <div class="col-sm-9">
                    <input name="cornet" type="number" class="form-control" v-model="person.cornet"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">qq *</label>
                <div class="col-sm-9">
                    <input name="qq" type="number" class="form-control" v-model="person.qq"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">生日 *</label>
                <div class="col-sm-9">
                    <input name="birthday" type="date" class="form-control" v-model="person.birthday"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">组别</label>
                <div class="col-sm-9">
                    <label class="radio-inline">
                        <input type="radio" name="team" value="硬件组" v-model="person.team"/> 硬件组
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="team" value="技术组" v-model="person.team"/> 技术组
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="team" value="秘书组" v-model="person.team"/> 秘书组
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简介</label>
                <div class="col-sm-9">
                    <textarea name="introduction" class="form-control" rows="3" v-model="person.introduction"
                              placeholder="255个字符以内" maxlength="255"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">密码 *</label>
                <div class="col-sm-9">
                    <input name="password" type="password" class="form-control" v-model="person.password"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">确认密码 *</label>
                <div class="col-sm-9">
                    <input name="pw" type="password" class="form-control" v-model="person.pw"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button class="btn btn-lg btn-primary btn-block" v-on:click="post">提交</button>
                </div>
            </div>
        </form>
    </div>


    <div class="row" th:fragment="listAuthorizedTable">
        <table id="listAuthorizedTable" class="table table-hover">
            <thead>
            <tr>
                <th>被授权学号</th>
                <th>授予权限</th>
                <th>删除授权</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="authorized in authorizeds">
                <td>{{ authorized.personId }}</td>
                <td>{{ authorized.permission }}</td>
                <td>
                    <button type="button" class="btn btn-danger"
                            v-on:click="removeAuthorized(authorized.personId,authorized.permission)">删除
                    </button>
                </td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" placeholder="被授权学号" v-model="personId"/></td>
                <td>
                    <select class="form-control" v-model="permission">
                        <option v-for="permission in permissions" :value="permission.permission">{{ permission.remark
                            }}
                        </option>
                    </select>
                </td>
                <td>
                    <button type="button" class="btn btn-info" v-on:click="addAuthorized">添加授权</button>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="row" th:fragment="loginPersonnelForm(info)">
        <div class="page-header">
            <h3>后台登录
                <small><span class="label label-danger" th:text="${info}">危险标签</span></small>
            </h3>
        </div>
        <form class="form-horizontal" role="form" id="loginPersonnelForm" onsubmit="return false">
            <div class="form-group">
                <label class="col-sm-2 control-label">学号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="请输入学号" v-model="id"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-0 col-sm-12">
                    <button class="btn btn-lg btn-primary btn-block" v-on:click="loginPersonnel">登录</button>
                </div>
            </div>
        </form>
    </div>


    <div class="row" style="text-align: center" th:fragment="pagination">
        <ul id="pagination" class="pagination">
            <li v-on:click="flipPage(1)" :class="1==localPage?'active':''"><a href="#">首页</a></li>
            <li v-for="page in pages" v-on:click="flipPage(page)" :class="page==localPage?'active':''"><a href="#">{{
                page }}</a></li>
            <li v-on:click="flipPage(pageCount)" :class="pageCount==localPage?'active':''"><a href="#">末页</a></li>
        </ul>
    </div>


    <div class="row">
        <div class="col-sm-3" th:fragment="stackedNavigation">
            <ul id="stackedNavigation" class="nav nav-pills nav-stacked">
                <li v-for="navigation in navigations" role="presentation" :class="navigation.status?'active':''"><a
                        :href="navigation.url">{{ navigation.name }}</a></li>
            </ul>
        </div>
    </div>


    <div class="row" th:fragment="addPersonsForm">
        <div id="addPersonsForm">
            <form class="form-horizontal row" role="form" onsubmit="return false">
                <div class="form-group">
                    <label class="col-sm-2 control-label">人员文件</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="file" id="personFile"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="button" class="btn btn-lg btn-primary btn-block"
                                v-on:click="uploadFile">提交
                        </button>
                    </div>
                </div>
            </form>
            <table class="table table-hover row" v-if="persons.length>0">
                <caption>添加失败人员</caption>
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>学院</th>
                    <th>年级</th>
                    <th>专业班级</th>
                    <th>手机</th>
                    <th>短号</th>
                    <th>qq</th>
                    <th>生日</th>
                    <th>简介</th>
                    <th>组别</th>
                    <th>密码</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="person in persons">
                    <td>{{ person.id }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.sex }}</td>
                    <td>{{ person.college }}</td>
                    <td>{{ person.grade }}</td>
                    <td>{{ person.professionClass }}</td>
                    <td>{{ person.phone }}</td>
                    <td>{{ person.cornet }}</td>
                    <td>{{ person.qq }}</td>
                    <td>{{ person.birthday }}</td>
                    <td>{{ person.introduction }}</td>
                    <td>{{ person.team }}</td>
                    <td>{{ person.password }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:fragment="globalJs">
    <script>
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ?
                        (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        }
    </script>
    <script th:src="@{/js/jquery-3.2.1.min.js}" type="text/javascript"
            src="/netview/static/js/jquery-3.2.1.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="/netview/static/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/vue.js}" src="/netview/static/js/vue.js"></script>
    <script th:src="@{/js/global.js}" src="/netview/static/js/global.js"></script>
    <input type="hidden" th:value="@{/}" value="" id="rootUrl"/>
</div>
<div th:fragment="privateJs(token)">
    <script th:src="@{/js/private.js}" src="/netview/static/js/private.js"></script>
    <input type="hidden" th:value="${token}" value="token" id="token"/>
</div>

<script>


    //    function createListPersonTableVue() {
    //        var listPersonTableVue = new Vue({
    //            el: '#listPersonTable',
    //            data: {
    //                persons: []
    //            },
    //            methods: {
    //                inquirePersons: function (page) {
    //                    inquirePersons(this,page);
    //                },
    //                inquirePersonById: function (id) {
    //                    inquirePersonById(this,id);
    //                },
    //                loadData: function (data) {
    //                    if (data.result) {
    //                        this.persons = data.data;
    //                    }
    //                }
    //            }
    //        });
    //        return listPersonTableVue;
    //    }
    var listPermissionTableVue = createListPermissionTableVue();
    listPermissionTableVue.loadData({
        result: true,
        data: [{permission: 1, remark: 'remark1'}, {permission: 2, remark: 'remark2'}]
    });

    var paginationVue = createPaginationVue();
    paginationVue.loadData({result: true, data: 5});

    var listPersonTableVue = createListPersonTableVue();
    listPersonTableVue.loadData({
        result: true, data: [{
            id: 'id',
            name: 'name',
            sex: 'sex',
            college: 'college',
            grade: 'grade',
            professionClass: 'professionClass',
            phone: 'phone',
            cornet: 'cornet',
            qq: 'qq',
            birthday: 'birthday',
            introduction: 'introduction',
            team: 'team'
        }]
    });

    var listAuthorizedTableVue = createListAuthorizedTableVue();
    listAuthorizedTableVue.loadData({
        result: true,
        data: [{personId: 'personId1', permission: 'permission1'}, {personId: 'personId2', permission: 'permission2'}]
    });
    listAuthorizedTableVue.loadPermissions({
        result: true,
        data: [{permission: 1, remark: 'remark1'}, {permission: 2, remark: 'remark2'}]
    });

    var stackedNavigation = createStackedNavigationVue();
    stackedNavigation.loadData({
        result: true,
        data: [{url: 'url1', name: 'name1', status: true}, {url: 'url2', name: 'name2', status: false}]
    });

    var personFormVue = createPersonFormVue();
    personFormVue.loadData({
        result: true, data: {
            id: 'id',
            name: 'name',
            sex: '女',
            college: 'college',
            grade: 15,
            professionClass: 'professionClass',
            phone: 13612341234,
            cornet: 666666,
            qq: 1574976087,
            birthday: '2017-07-07',
            introduction: 'introduction',
            team: '技术组'
        }
    });

    var pingResults = [{date: '2017-7-7', delay: 1}, {date: '2017-7-7', delay: -1}];
    var equipments = [
        {
            id: 'abcdef',
            model: 'S2352',
            name: 'name',
            buyDate: '2017-7-7',
            area: '龙洞',
            build: 'A1',
            floor: '202',
            number: 1,
            ip: '127.0.0.1',
            checkTimes: 3,
            isWarn: 1,
            remark: 'remark',
            installDate: '2017-7-7',
            status: true,
            date: '7-7 20:20:20',
            pingResults: pingResults
        },
        {
            id: 'ghijklmn',
            model: 'S2352',
            name: 'name',
            buyDate: '2017-7-7',
            area: '龙洞',
            build: 'A1',
            floor: '202',
            number: 1,
            ip: '127.0.0.1',
            checkTimes: 3,
            isWarn: 1,
            remark: 'remark',
            installDate: '2017-7-7',
            status: false,
            date: '7-7 20:20:20',
            pingResults: pingResults
        }
    ];

    var listNetviewTableVue = createListNetviewTableVue();
    listNetviewTableVue.loadData({
        result: true,
        data: [{equipments: equipments, name: 'A1', status: true}, {equipments: equipments, name: 'A2', status: false}]
    });

    var listEquipmentTableVue = createListEquipmentTableVue();
    listEquipmentTableVue.loadData({
        result: true,
        data: [{equipments: equipments, name: 'B1'}, {equipments: equipments, name: 'B2'}]
    });

    var listPlaceTableVue = createListPlaceTableVue();
    listPlaceTableVue.loadData({
        result: true,
        data: [{area: 'area', build: 'build', floor: 'floor', number: 1}, {
            area: 'area',
            build: 'build',
            floor: 'floor',
            number: 2
        }]
    });

    var listMalfunctionTableVue = createListMalfunctionTableVue();
    listMalfunctionTableVue.loadData({
        result: true, data: [
            {
                area: 'area',
                build: 'build',
                floor: 'floor',
                number: 1,
                equipmentId: 'abcdef',
                malfunctionDatetime: '2017-7-7',
                status: 0
            },
            {
                area: 'area',
                build: 'build',
                floor: 'floor',
                number: 2,
                equipmentId: 'ghijk',
                malfunctionDatetime: '2018-8-8',
                status: 1
            }
        ]
    });

    var equipmentFormVue = createEquipmentFormVue(null);
    equipmentFormVue.loadData({
        result: true,
        data: {
            id: 'abcdef',
            model: 'S3389',
            name: 'name',
            buyDate: '2017-07-07',
            area: '龙洞',
            build: 'A2',
            floor: '202',
            number: 1,
            ip: '127.0.0.1',
            checkTimes: 5,
            isWarn: 0,
            remark: 'remark',
            installDate: '2018-08-08'
        }
    });

    var addEquipmentsFormVue = createAddEquipmentsFormVue();
    addEquipmentsFormVue.loadData({
        result: true,
        data: {equipments: equipments, name: '上传失败'}
    });

    var addPersonsFormVue = createAddPersonsFormVue();
    addPersonsFormVue.loadData({
        result: true, data: [{
            id: 'id',
            name: 'name',
            sex: 'sex',
            college: 'college',
            grade: 'grade',
            professionClass: 'professionClass',
            phone: 'phone',
            cornet: 'cornet',
            qq: 'qq',
            birthday: 'birthday',
            introduction: 'introduction',
            team: 'team',
            password: 'password'
        }]
    });
</script>


</body>
</html>