<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="global :: head('信息修改')"></head>
<body>
<div class="container">
    <div class="row" th:include="global :: navigation"></div>

    <div class="row">
        <div class="col-sm-2" th:include="global :: stackedNavigation"></div>

        <div class="col-sm-10" th:include="global :: personForm('信息修改')"></div>
    </div>
</div>

<div th:include="global :: globalJs"></div>
<div th:include="global :: privateJs(${token})"></div>
<input type="hidden" th:value="${id}" id="id"/>
<script>
    var stackedNavigation = createStackedNavigationVue();
    stackedNavigation.loadData({
        result: true, data: [
            {url: getRootUrl() + '/page/listPermission', name: '权限列表', status: false},
            {url: getRootUrl() + '/page/listPerson', name: '人员列表', status: false},
            {url: getRootUrl() + '/page/listAuthorized', name: '授权列表', status: false},
            {url: getRootUrl() + '/page/addPersons', name: '批量添加人员', status: false}
        ]
    });

    var personFormVue = createPersonFormVue(changePerson);
    var id = $("#id").attr("value");
    if (id == null || id == '') {
    }else {
        personFormVue.inquirePersonById(id);
    }
</script>
</body>
</html>